.Contact {
  background-color: inherit;
  color: inherit;
  overflow: auto;
  height: 100%;
  font-family: 'millionaire';
}

.Contact a {
  color: inherit;
}

.Contact a:hover {
  text-decoration: none;
	color: white;
}
