.lineStyle1 {
  font-size: 12vh;
  padding: 4vh;
}
.lineStyle2 {
  font-size: 8vh;
  padding: 2vh;
}
.lineStyle3 {
  font-size: 6vh;
  padding: 1vh;
  padding-top: 5vh;
}
.lineStyle6 {
  font-size: 10vh;
  padding: 2vh;
  font-family: 'New Athletic M54', Arial, sans-serif;
}
.wrapper{
  padding-top: 80px;
}
