body, html {
  height: 100%;
  font-size: 10px;
}

@font-face {
  font-family: 'millionaire';
  src: url('font/millionaire-webfont.woff2') format('woff2'),
       url('font/millionaire-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:900');

@media (min-width: 576px) {
  body, html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  body, html {
    font-size: 20px;
  }
}
